.ProductsList {
  width: 100%;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__card {
    margin: 10px;
  }

  &__photo {
    position: relative;
    object-fit: contain;
    width: 100%;
    max-width: 268px;
    height: 268px;
    z-index: 1;
    transition: transform 1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__photo-container {
    position: relative;
    overflow: hidden;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
    gap: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
